#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.red {
  background-color: #FF5555;
  padding: 10px;
}

.blue {
  background-color: #5555FF;
  padding: 10px;
}

.home {
  background-color: #55FF55;
  padding: 10px;
}

#navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f5f7fa;
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #edf2f7;
}

a {
  margin-right: 15px;
  text-decoration: none;
  color: #2d3748;
}

a:hover {
  text-decoration: underline;
}

.green {
  background-color: #48bb78;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

